repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: [--profile, black]
        name: isort (python)
      - id: isort
        args: [--profile, black]
        name: isort (cython)
        types: [cython]
      - id: isort
        args: [--profile, black]
        name: isort (pyi)
        types: [pyi]
  
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-json
      - id: requirements-txt-fixer
      - id: no-commit-to-branch
        args: ['--branch', 'main'] # by default master and main branch are protected if no branch argument set

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.8

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
            "--rcfile=.pylintrc", # Link to your config file
            "--load-plugins=pylint.extensions.docparams", # Load an extension
          ]
